
*{
  margin: 0;
  padding: 0;
}



.content {
  /* width: 100%;
    height: 100%; */
  padding-bottom: 50px;
}
.container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.left {
  /* width: 80%; */
}
h3 {
  font-size: 40px;
  line-height: 1.5;
  margin-top: 75px;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
}
span {
  color: #fd4b2e;
  font-size: 50px;
}
h6 {
  font-size: 16px;
  font-weight: 400;
}
.right {
  /* width:40%; */
}

.btn {
  border: none;
  padding: 18px 119px;
  background: linear-gradient(45deg, rgb(252, 147, 74), rgb(253, 75, 46));
  border-radius: 48px;
  color: white;
  font-size: 15px;
}
.right img {
  width: 400px;
}

.middle-container {
  background-image: url(img/bg.png);
  width: 100%;
  height: 525px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
  z-index: 0;
  display: flex;
}
.left_1 img {
  width: 329px;
  height: 446px;
  margin-top: 77px;
  margin-left: 157px;
  z-index: 1;
}
.right-1 {
  width: 31%;
  margin-left: 182px;
  margin-top: 101px;
}

h2 {
  font-size: 43px;
}
p {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 60px;
}
/*------------------ last container ----------------------*/

.last-container{}
.last-content {
  display: flex;
  /* justify-content: center; */
  justify-content: space-around;
}
.box {
  width:286px;
  height: 386px;
  padding: 20px 10px;
  margin: 15px;
  border-radius:19px;
  background: #f7f7f773;
  text-align: center;
  box-shadow: 10px 10px 15px #d8d5d5, -10px -10px 15px #f1eded;
  overflow: hidden;
}

.box img {
  width: 280px;
  margin-left: -1px;
  margin-top: -10px;
  border-radius: 22px;
}

h4 {
  font-size: 24px;
}
.box p {
  font-weight: 100;
  font-size: 15px;
}





.text-container {
  width: 560px;
  margin: 0 auto;
}
.text-content{}
.text-content h2{
  text-align: center;
}
.text-content p {
  width: 100%;
  font-size: 14px;
  text-align: center;
  margin-top: 21px;
}





.foot {
  width: 1139px;
  height: 129px;
  /* border: 1px solid black; */
  margin-top: 88px;
  margin: 0 auto;
  margin-top: 107px;
  box-shadow: 10px 10px 15px #d8d5d5, -10px -10px 15px #f1eded;
  border-radius: 20px;
}

.foot-first {
  display: flex;
  justify-content: space-around;
  margin-top: 29px;
}
.foot-f {
  margin-left: -2px;
  margin-top: 27px;
}
span{}
.foot-f h6 {
  text-align: center;
  font-size: 19px;
  margin-top: 1px;
}
.footer {
  width: 100%;
  height: 162px;
  background-color: black;
  margin-top: 36px;
  color: white;
}
.footer-f {
  display: inline-block;
  width: auto;
  margin-left: 34%;
  margin-top: 30px;
  text-align: center;
}
.su {
  font-size: 44px;
  color: white;
}
.sagor {
  font-size: 15px;
  margin-top: 12px;
  font-weight: 400;
}